*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

table{
    width: 900px;
    margin: 40px auto;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

thead > tr {
    background-color:rgb(17, 17, 75);
    color: white;
}

tr > th, tr > td {
    padding: 15px 20px;
}

tbody >tr:nth-last-of-type(even){
    background-color: rgba(133, 133, 184, 0.100);
}

tbody > tr:last-of-type{
    border-bottom: 3px solid rgb(17, 17, 75);
}

.pagination{
    display: flex;
    width: 900px;
    margin: 5px auto;
    gap: 5px;
    justify-content: center;
}

.pagination > a {
    background-color: rgb(17, 17, 75);
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin: 10px;
}

form{
    width: 900px;
    margin: 0 auto;
}

.card{
    position: relative;
    max-width: 480px;
    height: 360px;
    padding: 55px 20px;
    width: 90%;
    margin: 70px auto;
    background-color: rgba(170, 175, 199, 0.616);
    border-radius: 40px;
    box-shadow: 3px 3px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    text-align: left;
}

.description{
    max-height: 200px;
    overflow-y: auto;
}

.info > p, .description{
    margin: 5px 0;
    border-bottom: 1.5px dotted gray;
    padding-bottom: 3px;
   
}

.btn{
    position: absolute;
    bottom: 40px;
    
}

.btn > a{
    background-color: red;
    padding: 15px 24px;
    color: white;
    border-radius: 12px;
    margin: 0 5px;
}

form > input{
    height: 2rem;
    padding: 0 2px;
}

.form-edit{
    width: 800px;
    padding: 0 12px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.form-edit > input{
    height: 2rem;
    padding: 0 2px;
}

