{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <form class="form-edit" method="POST" action="" > {% csrf_token %}
        <input name="title" value="{{books.title}}" type="text" placeholder="Nome do Livro">
        <input name="author" value="{{books.author}}" type="text" placeholder="Autor">
        <input name="release_year" value="{{books.release_year}}" type="text" placeholder="Ano de Lançamento">
        <input name="description" value="{{books.description}}" type="text" placeholder="Descrição">
    </form>
</body>
</html>